
/*
ul {

}
ul li {
    list-style:none;
margin: 0;
}
ul li img {
    cursor: pointer;

    max-width: 100%;
    height: auto;


}


*/

/*  image gallary container */

.flex-container {

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;

    background-color:transparent;



}